<%= title "LendIt Conference Videos" %>
<% meta_description "Videos of the LendIt Peer-to-Peer and Online Lending Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, videos, presentations" %>
<% body_class "vid-index" %>

<div class="general-background">
	<div class="row">
		<div class="columns">
			<h1>LendIt Videos</h1>
			<% @featured_videos.each do |conference,videos| %>
			<h3><%= link_to conference.title, conference_videos_path(conference) %></h3>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
				<% videos.each do |video| %>
					<li>
						<%= link_to conference_video_path(conference,video), class: 'video-item' do %>
							<div class="video-image">
								<img src="<%= video.img %>" alt="<%= video.title %>">
							</div>
							<div class="video-title">
								<%= raw video.title %>
							</div>
						<% end %>
					</li>
				<% end %>
			</ul>
			<% end %>

		</div>
	</div>
</div>
